.error
    padding-top: 127px
    padding-bottom: 154px
    position: relative
    text-align: center
    overflow: hidden
    &__num
        padding: 28px 31px
        display: inline-block
        margin: 0 auto
        border-radius: 38.095px
        background: #CD072D
        color: #FFF
        font-family: 'Montserrat'
        font-size: 104.574px
        font-weight: 700
        line-height: 104.574px
        margin-bottom: 34px
    &__title
        margin-top: 0
        margin-bottom: 20px
        text-align: center
        font-family: 'Montserrat'
        font-size: 32px
        font-weight: 600
        line-height: 32px
    &__descr
        max-width: 325px
        color: #000
        text-align: center
        font-size: 14px
        font-weight: 400
        line-height: 22px
        margin: 0 auto
        margin-bottom: 27px
    &-bg
        position: absolute
        bottom: 0
        right: -30px
        width: calc(100% + 60px)
        z-index: 1
        display: flex
        img
            width: 100%
    &__wrap
        position: relative
        z-index: 2
.news
    &-top
        text-decoration: none
        color: #000
        display: block
        margin-bottom: 35px
        border-radius: 20px
        border: 1px solid #D9D9D9
        position: relative
        padding: 29px 65px
        padding-left: 460px
        padding-bottom: 40px
        overflow: hidden
        &:hover
            border: 1px solid #A2B3D1
            img
                transform: scale(1.2)
        &__img
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 415px
            overflow: hidden
            img
                transition: all 1s
                width: 100%
                height: 100%
                object-fit: cover
        &__date
            display: block
            margin-bottom: 15px
            color: #868484
            font-size: 12px
        &__name
            display: block
            margin-bottom: 15px
            font-size: 16px
            font-weight: 600
        &__descr
            display: block
            font-size: 14px
            line-height: 22px
        &__arrow
            position: absolute
            bottom: 28px
            right: 44px
    &__wrap
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 16px
    &__blog
        border: 1px solid #D9D9D9
        display: block
        position: relative
        color: #000
        text-decoration: none
        overflow: hidden
        &:nth-child(1)
            border-radius: 20px 0 0 0
        &:nth-child(3)
            border-radius: 0 20px 0 0
        &:hover
            border: 1px solid #A2B3D1
            img
                transform: scale(1.2)
    &__img
        display: block
        width: 100%
        height: 200px
        overflow: hidden
        img
            transition: all 1s
            width: 100%
            height: 100%
            object-fit: cover
    &__cont
        display: block
        padding: 20px 30px
        padding-bottom: 40px
    &__arrow
        position: absolute
        display: flex
        right: 30px
        bottom: 27px
    &__date
        display: block
        margin-bottom: 15px
        color: #868484
        font-size: 12px
    &__name
        display: block
        margin-bottom: 15px
        font-size: 16px
        font-weight: 600
    &__descr
        display: block
        font-size: 14px
        line-height: 22px
    &__sort
        margin-bottom: 26px
        position: relative
        display: flex
        align-items: center
        justify-content: flex-end
        &-top
            display: flex
            align-items: center
            justify-content: flex-end
            grid-gap: 6px
            cursor: pointer
        &-drop
            position: absolute
            right: 0
            top: 33px
            width: 126px
            background: #FAF8F9
            padding: 25px 22px
            padding-bottom: 10px
            z-index: 3
            display: none
            a
                color: #000
                font-size: 14px
                font-weight: 300
                text-decoration: none
                display: block
                margin-bottom: 15px
                &.active
                    color: #CD072D
                    font-weight: 400
                &:hover
                    color: #CD072D
    &-in
        &__img
            height: 406px
        &__date
            margin-bottom: 30px
            color: #868484
            font-size: 12px
            padding-left: 30px
        &__text
            h2
                font-size: 16px
                font-weight: 600
                margin-top: 0
                margin-bottom: 22px
        &__share
            padding-bottom: 40px
            padding-left: 30px
            display: flex
            align-items: center
            grid-gap: 16px
            font-size: 14px
            font-weight: 600
            line-height: 22px
        &__wrap
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 16px
.vac
    &__title
        margin-top: 0
        margin-bottom: 32px
        font-family: 'Montserrat'
        font-size: 24px
        font-weight: 600
    &__block
        border-radius: 20px
        border: 1px solid #D9D9D9
        background: #FAF8F9
        margin-bottom: 16px
        &.active
            background: transparent
            .vac
                &__main span
                    color: #CD072D
                &__arrow
                    transform: rotate(180deg)
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        padding: 26px 44px
        cursor: pointer
        user-select: none
        &:hover
            .vac__main span
                color: #CD072D
    &__main
        font-size: 14px
        line-height: 22px
        max-width: calc(100% - 220px)
        span
            display: block
            margin-bottom: 15px
            font-size: 16px
            transition: all 0.3s
            font-weight: 600
    &__right
        display: flex
        align-items: center
        span
            font-size: 14px
            padding-left: 13px
            padding-right: 10px
            font-weight: 600
    &__arrow
        display: flex
        padding-top: 1px
        transition: all 0.3s
        svg
            transition: all 0.3s
    &__drop
        border-top: 1px solid #D9D9D9
        display: none
    &__cont
        padding: 25px 44px
        padding-bottom: 1px
    &__line
        display: flex
        align-items: flex-start
        margin-bottom: 26px
    &__name
        width: 236px
        padding-right: 50px
        font-size: 14px
        font-weight: 600
        line-height: 22px
    &__text
        width: calc(100% - 236px)
        font-size: 14px
        font-weight: 300
        line-height: 22px
        p
            margin: 0
            margin-bottom: 22px
        ul
            margin: 0
            padding: 0
            list-style-type: none
            li
                position: relative
                margin-bottom: 6px
                padding-left: 12px
                &::before
                    content: ""
                    display: block
                    width: 2px
                    height: 2px
                    border-radius: 50%
                    position: absolute
                    left: 0px
                    top: 10px
                    background: #000
    &__bot
        border-top: 1px solid #D9D9D9
        padding: 26px 44px
        p
            font-size: 14px
            font-weight: 400
            line-height: 22px
            margin: 0
            b
                font-weight: 600
            a
                text-decoration: none
                color: #000
    &__adr
        display: flex
        align-items: flex-start
        grid-gap: 12px
        margin: 22px 0
        svg
            margin-top: 2px
        p
            width: 630px
            max-width: calc(100% - 28px)
    &__phone
        display: flex
        align-items: flex-start
        grid-gap: 13px
        svg
            margin-top: 4px
        p
            max-width: calc(100% - 28px)
@media(max-width: 1199px)
    .news
        &-top
            padding: 0
            &__img
                height: 200px
                position: static
                width: 100%
                display: block
            &__cont
                padding: 40px
                display: block
        &__wrap
            grid-template-columns: repeat(2, 1fr)
        &__blog
            &:nth-child(3)
                border-radius: 0
            &:nth-child(2)
                border-radius: 0 20px 0 0
        &-in
            &__wrap
                grid-template-columns: repeat(2, 1fr)
                .news__blog
                    &:last-child
                        display: none
@media(max-width: 767px)
    .vac
        &__top
            display: block
        &__main
            max-width: 100%
            margin-bottom: 14px
        &__line
            display: block
        &__name
            width: 100%
            margin-bottom: 11px
        &__text
            width: 100%
@media(max-width: 575px)
    .error
        padding: 40px 0
        padding-bottom: 60px
        &__title
            font-size: 24px
            line-height: 32px
        &__num
            font-size: 90px
            line-height: 90px
    .news
        &-top
            display: none
        &__sort
            justify-content: flex-start
            &-drop
                left: 0
                right: auto
            &-top
                font-size: 14px
        &__blog
            &:nth-child(2)
                border-radius: 0
            &:nth-child(1)
                border-radius: 20px 20px 0 0
        &__wrap
            grid-template-columns: repeat(1, 1fr)
            padding-bottom: 15px
        &__cont
            padding: 16px 25px
            padding-bottom: 38px
        &__arrow
            bottom: 25px
            right: 25px
        &-in
            &__img
                height: 256px
                margin-top: 20px
            &__date
                position: absolute
                top: 20px
                padding-left: 0
                left: 0
            &__share
                padding-left: 0
                font-size: 14px
                grid-gap: 8px
                flex-wrap: wrap
            &__wrap
                grid-template-columns: repeat(1, 1fr)
                .news__blog
                    &:last-child
                        display: block
                        border-radius: 0 0 20px 20px
    .vac
        &__title
            font-size: 20px
            font-weight: 600
            line-height: 28px
            margin-bottom: 26px
        &__top
            padding: 20px 25px
        &__name
            font-size: 14px
            padding-right: 0
        &__line
            margin-bottom: 19px
        &__cont
            padding: 25px
            padding-bottom: 6px
        &__bot
            padding: 25px
