.contacts-page
  padding-top: 40px
  &__title
    font-size: 32px
    line-height: 32px
    margin-bottom: 48px
@media(max-width: 575px)
  .contacts-page
    padding-top: 19px
    &__title
      margin-bottom: -9px
