body
    margin: 0
    font-family: 'Open Sans', sans-serif
    font-weight: 400
*
    box-sizing: border-box
a
    transition: all 0.3s
input, button, textarea
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    border-radius: 0
    &:focus
        outline: none
// .fullpage
//     overflow: hidden
.swiper-slide:focus
    outline: none
.ymaps-2-1-79-ground-pane
    -webkit-filter: grayscale(100%)
@import "fonts"
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance: none

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus
    appearance: none
    -moz-appearance: textfield

@import "interface"
@import "home"
@import "home2"
@import "media"
@import "popup"
@import "small"
@import "pages"
@import "supp"
@import "info"
@import "info2"
@import "create"
@import "quiz"
@import "where"
@import "search"
@import "prod"
